:root {
  --max-width: 1340px;
  --padding-section: 20px;
  --border-radius: 12px;
  // color-primary
  --color-primary-100: rgb(0, 107, 255);
  --color-primary-200: rgb(0, 78, 186);

  // color-secondary
  --color-secondary-100: rgb(11, 53, 88);
  --color-secondary-200: rgb(71, 103, 136);

  // general-color
  --primary-color: rgb(0, 107, 255);
  --secondary-color: rgb(11, 53, 88);
  --white-color: rgba(255, 255, 255, 1);
  --success-color: #03f703;
  --info-color: #fff000;
  --danger-color: #dc3545;

  //button
  --button-primary: rgb(0, 107, 255);
  --button-primary-hover: rgb(0, 78, 186);

  // background-color
  --background-color-100: #ffffff;
  --background-color-200: #e6e3e3;
  --background-color-300: #ada6a6;

  // color
  --color-100: #2c2c2c;
  --color-200: #1f1e1e;
  --color-300: #0a0a0a;

  //border
  --border-color-1: rgb(212, 224, 237);
  --border-color-hover-1: rgb(0, 107, 255);

  //box-shadow
  --box-shadow-1: rgba(71, 103, 136, 0.04) 0px 4px 5px 0px,
    rgba(71, 103, 136, 0.03) 0px 4px 10px 0px,
    rgba(71, 103, 136, 0.05) 0px 10px 20px 0px;

  // font sizes
  --font-size-xs: 0.5rem;
  --font-size-sm: 0.75rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 1.75rem;
  --font-size-3xl: 3.125rem;
  --font-size-4xl: 4.25rem;
  --font-size-5xl: 5rem;

  // Responsive font sizes
  --responsive-font-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);

  //border-radius
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 6px;
  --border-radius-lg: 8px;
  --border-radius-xl: 10px;
}

[data-theme="dark"] {
  // background-color
  --background-color-100: #5e5d5d;
  --background-color-200: #3d3c3c;
  --background-color-300: #2c2c2c;

  // color
  --color-100: #ffffff;
  --color-200: #e6e3e3;
  --color-300: #b9b5b5;
}
